* {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12pt;
}

[class^='relevance_'] {
  text-indent: 1em;
}

.person_name {

}

.generalDescription {
  text-indent: 1em;
}

.relationToMoore {
  text-indent: 1em;
}

a.glossary_reference {
  text-decoration: underline;
  color: inherit;
}

a.glossary_reference:hover {
  text-decoration: underline;
}
